# Criar Base de Dados Limpa

In [32]:
# ===============================
# 1️⃣ Import libraries
# ===============================
import pandas as pd
from sqlalchemy import create_engine, text

# ===============================
# 2️⃣ Load the cleaned dataframe
# ===============================
df_clean = pd.read_pickle("../data/df_clean.pkl")
print(df_clean.dtypes)  # check datetime columns

appointment_id                                    int64
tenant                                           object
created_at                          datetime64[ns, UTC]
updated_at                          datetime64[ns, UTC]
start_time                          datetime64[ns, UTC]
end_time                            datetime64[ns, UTC]
started_at                          datetime64[ns, UTC]
finished_at                         datetime64[ns, UTC]
realization_sla                                 float64
duration_minutes                                float64
delay_minutes                                   float64
status                                           object
service_type                                     object
appointment_helpful                              object
appointment_classification                      float64
recommendation_rating                           float64
icd_code1                                        object
icd_code2                                        object
icd_code3                                        object
patient_age_at_appointment                      float64
patient_sex                                      object
in_person_appointment_evaluation                 object
recurrence_24hours                               object
recurrence_48hours                               object
recurrence_72hours                               object
recurrence_7days                                 object
process_date                                     object
dtype: object

In [33]:
# ===============================
# 3️⃣ Connect to default Postgres
# ===============================
engine_default = create_engine("postgresql://postgres:FCUP917mdsl!@localhost:5432/postgres")

'''
# ===============================
# 4️⃣ Create database 'knok' (only once)
# ===============================
with engine_default.connect() as conn:
    conn.execution_options(isolation_level="AUTOCOMMIT").execute(
        text("CREATE DATABASE knok;")
    )
'''

'\n# ===============================\n# 4️⃣ Create database \'knok\' (only once)\n# ===============================\nwith engine_default.connect() as conn:\n    conn.execution_options(isolation_level="AUTOCOMMIT").execute(\n        text("CREATE DATABASE knok;")\n    )\n'

In [34]:
# ===============================
# 5️⃣ Connect to new database
# ===============================
engine = create_engine("postgresql://postgres:FCUP917mdsl!@localhost:5432/knok")

# ===============================
# 6️⃣ Load data into Postgres
# ===============================
df_clean.to_sql("appointments_clean", engine, if_exists="replace", index=False)

# Verify number of rows
with engine.connect() as conn:
    result = conn.execute(text("SELECT COUNT(*) FROM appointments_clean;"))
    count = result.scalar()
    print("Rows in appointments_clean:", count)

# ===============================
# 7️⃣ Quick check of data
# ===============================
df_check = pd.read_sql("SELECT * FROM appointments_clean LIMIT 5;", engine)
df_check

Rows in appointments_clean: 177726

,appointment_id,tenant,created_at,updated_at,start_time,end_time,started_at,finished_at,realization_sla,duration_minutes,...,icd_code2,icd_code3,patient_age_at_appointment,patient_sex,in_person_appointment_evaluation,recurrence_24hours,recurrence_48hours,recurrence_72hours,recurrence_7days,process_date
0,295538,knok,2022-12-16 19:14:15.023083+00:00,2022-12-16 19:39:09.718106+00:00,2022-12-16 19:33:00+00:00,2022-12-16 19:41:30+00:00,2022-12-16 19:37:00.386294+00:00,2022-12-16 19:39:09.718006+00:00,18.73,2.15,...,,,42.0,F,yes,no,no,no,no,2022-12-16
1,295351,knok,2022-12-16 16:01:59.908535+00:00,2022-12-16 16:25:47.131449+00:00,2022-12-16 16:12:00+00:00,2022-12-16 16:20:30+00:00,2022-12-16 16:19:36.029042+00:00,2022-12-16 16:25:47.131367+00:00,10.00,6.18,...,,,72.0,M,no,no,no,no,no,2022-12-16
2,294943,knok,2022-12-16 10:10:53.914403+00:00,2022-12-16 10:32:59.524845+00:00,2022-12-16 10:25:00+00:00,2022-12-16 10:33:30+00:00,2022-12-16 10:27:38.144952+00:00,2022-12-16 10:32:59.524751+00:00,14.08,5.35,...,,,67.0,F,no,no,no,no,no,2022-12-16
3,294938,knok,2022-12-16 10:09:08.076024+00:00,2022-12-16 10:37:13.030372+00:00,2022-12-16 10:25:00+00:00,2022-12-16 10:33:30+00:00,2022-12-16 10:27:29.164846+00:00,2022-12-16 10:37:13.030278+00:00,15.85,9.72,...,,,72.0,F,,no,no,no,no,2022-12-16
4,294963,knok,2022-12-16 10:19:30.418240+00:00,2022-12-16 10:30:43.604808+00:00,2022-12-16 10:25:00+00:00,2022-12-16 10:33:30+00:00,2022-12-16 10:27:54.577001+00:00,2022-12-16 10:30:43.604693+00:00,5.48,2.82,...,,,68.0,M,no,no,no,no,no,2022-12-16

In [35]:
pd.read_sql("SELECT column_name, data_type FROM information_schema.columns WHERE table_name='appointments_clean';", engine)

                         column_name                 data_type
0                       process_date                      date
1                         start_time  timestamp with time zone
2                           end_time  timestamp with time zone
3                         started_at  timestamp with time zone
4                        finished_at  timestamp with time zone
5                    realization_sla          double precision
6                   duration_minutes          double precision
7                      delay_minutes          double precision
8                appointment_helpful                   boolean
9         appointment_classification          double precision
10             recommendation_rating          double precision
11        patient_age_at_appointment          double precision
12                    appointment_id                    bigint
13                        created_at  timestamp with time zone
14                        updated_at  timestamp with time zone
15                            tenant                      text
16                recurrence_24hours                      text
17                recurrence_48hours                      text
18                recurrence_72hours                      text
19                         icd_code1                      text
20                         icd_code2                      text
21                         icd_code3                      text
22                  recurrence_7days                      text
23                       patient_sex                      text
24  in_person_appointment_evaluation                      text
25                            status                      text
26                      service_type                      text

# Testar Queries

In [36]:

# ===============================
# 8️⃣ SQL Queries
# ===============================

# Query 1: Average duration by hour
query1 = """
SELECT 
    EXTRACT(HOUR FROM start_time) AS hour_of_day,
    AVG(duration_minutes) AS avg_duration
FROM appointments_clean
GROUP BY hour_of_day
ORDER BY hour_of_day;
"""

df_avg_duration = pd.read_sql(query1, engine)
print(df_avg_duration)

    hour_of_day  avg_duration
0           0.0      7.508239
1           1.0     14.970000
2           7.0      5.907500
3           8.0      7.660899
4           9.0      7.466687
5          10.0      7.312464
6          11.0      7.281565
7          12.0      6.954014
8          13.0      6.928015
9          14.0      7.140781
10         15.0      7.230461
11         16.0      7.248017
12         17.0      7.200174
13         18.0      7.197768
14         19.0      7.127881
15         20.0      6.922882
16         21.0      6.791308
17         22.0      6.704426
18         23.0      7.128087

In [37]:
# Query 2: Average recommendation for males by year and age bin
query2 = """
SELECT
    EXTRACT(YEAR FROM start_time) AS year,
    FLOOR(patient_age_at_appointment / 10) * 10 AS age_bin,
    AVG(recommendation_rating) AS avg_recommendation
FROM appointments_clean
WHERE patient_sex = 'M'
GROUP BY year, age_bin
ORDER BY year, age_bin;
"""

df_male_recommendation = pd.read_sql(query2, engine)
print(df_male_recommendation)

      year  age_bin  avg_recommendation
0   2021.0      0.0            9.416781
1   2021.0     10.0            9.283019
2   2021.0     20.0            9.153374
3   2021.0     30.0            9.364937
4   2021.0     40.0            9.312570
5   2021.0     50.0            9.305495
6   2021.0     60.0            9.209440
7   2021.0     70.0            9.385417
8   2021.0     80.0            9.245283
9   2021.0     90.0           10.000000
10  2021.0    100.0           10.000000
11  2021.0    110.0                 NaN
12  2021.0      NaN            9.190476
13  2022.0      0.0            9.427918
14  2022.0     10.0            9.335616
15  2022.0     20.0            8.435514
16  2022.0     30.0            8.977636
17  2022.0     40.0            8.910985
18  2022.0     50.0            9.066489
19  2022.0     60.0            9.007899
20  2022.0     70.0            9.176166
21  2022.0     80.0            9.475862
22  2022.0     90.0            9.066667
23  2022.0    100.0                 NaN
24  2022.0      NaN            7.931034
25  2023.0      0.0            9.463722
26  2023.0     10.0            9.627907
27  2023.0     20.0            8.528428
28  2023.0     30.0            8.994898
29  2023.0     40.0            9.045593
30  2023.0     50.0            9.084337
31  2023.0     60.0            9.382609
32  2023.0     70.0            8.992000
33  2023.0     80.0            9.076923
34  2023.0     90.0            8.333333
35  2023.0    110.0                 NaN
36  2023.0      NaN            6.250000

In [38]:
# Query 3: Average recommendation for patients 20-30 by hour (CTE)
query3 = """
WITH patients_20_30 AS (
    SELECT 
        EXTRACT(HOUR FROM start_time) AS hour_of_day,
        recommendation_rating
    FROM appointments_clean
    WHERE patient_age_at_appointment BETWEEN 20 AND 30
)
SELECT 
    hour_of_day,
    AVG(recommendation_rating) AS avg_recommendation
FROM patients_20_30
GROUP BY hour_of_day
ORDER BY hour_of_day;
"""
df_20_30_hourly = pd.read_sql(query3, engine)
print("Average recommendation for patients 20-30 by hour:")
print(df_20_30_hourly)

Average recommendation for patients 20-30 by hour:
    hour_of_day  avg_recommendation
0           0.0            8.428571
1           7.0            8.571429
2           8.0            8.904762
3           9.0            9.045317
4          10.0            8.903592
5          11.0            9.379310
6          12.0            9.008157
7          13.0            8.853890
8          14.0            8.769231
9          15.0            8.704918
10         16.0            8.890323
11         17.0            8.944193
12         18.0            8.965058
13         19.0            9.273764
14         20.0            8.816514
15         21.0            9.031621
16         22.0            8.918681
17         23.0            8.917526